/* Dark mode */
:root{
    --bg--header: #191e2b;
    --color--primary: #ffffff;
    --hover--primary: #4e5565;
    --bg--main: #30343f;
    --btn--download: #2e7d32;
    --btn--download--hover: #1b5e20;
    --bg--aside: #252935;
    --input--btn: #393e49;
    --bg--ranger: #5a5c68;
    --circle--ranger: #fffffd;
    --border--checkbox: #7b7d83;
}
/* Theme - light mode */
[data-theme="light__theme"]{
    --bg--header: #e0e0e0;
    --color--primary: #45403f;
    --hover--primary: #bcbcbc;
    --bg--main: #eeeeee;
    --btn--download: #2e7d32;
    --btn--download--hover: #1b5e20;
    --bg--aside: #fafafa;
    --input--btn: #dee0e4;
    --bg--ranger: #5a5c69;
    --circle--ranger: #424242;
    --border--checkbox: #767676;
}
/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hidden{
    display: none;
}
/* Unified classes */
.focus:focus{
    background-color: var(--hover--primary);
    transition: 0.3s;
}
.panels{
    background-color: var(--bg--aside);
    color: var(--color--primary);
    padding: 10px 15px 40px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}
.second__title{
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
.third__title{
    margin: 30px 0 10px;
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
}
.input__get{
    display: block;
    background-color: var(--input--btn);
    color: var(--color--primary);
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}
.label__size{
    font-size: 0.8rem;
}
/* _________ BODY _________ */
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* _________ HEADER _________ */
header{
    background-color: var(--bg--header);
    color: var(--color--primary);
}
h1{
    padding: 25px 10px 20px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.5px;
}
/* Navbar */
.container__nav{
    display: flex;
    justify-content: center;
    padding: 0 0 10px;
}
/* Navbar - buttons */
.btn__nav{
    font-size: 1rem;
    border: none;
    margin: 2.5px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--bg--header);
    color: var(--color--primary);
}
/* _________ MAIN _________ */
.container{
    background-color: var(--bg--main);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 22px;
}
/* Container memes editor */
.container__memes__edit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 285px;
    width: 100%;
    max-width: 285px;
    background-color: black;
}
/* IMAGE URL */
#image__meme{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    flex-grow: 1;
}
/* Texts to edit */
.text__editor{
    padding: 6px 50px;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    width: 100%;
    font-family: Impact;
    position: static;
}
/* Button download */
#button__download{
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: var(--btn--download);
    margin-top: 30px;
}
#button__download:focus{
    background-color: var(--btn--download--hover);
    transition: 0.3s;
}
/* _________ ASIDE - Image panel _________ */
/* btn X (close) */
.btn__panel--close{
    border: none;
    background-color: var(--background__gray--aside);
    color: var(--font--color--primary);
    position: absolute;
    right: 20px;
}
.fa-times{
    padding: 5px;
    border-radius: 5px;
}
/* Background */
#container__background{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#container__background button{
    background-color: var(--input--btn);
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 48%;
    color: var(--color--primary);
}
input[type="color"]{
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 100%;
}
#btn__bgimagen::-webkit-color-swatch{
    display: none;
}
#btn__bgimagen::-moz-color-swatch{
    display: none;
}
span{
    margin: 0 8px;
    font-weight: 700;
}
/* Background selector */
.bg__select{
    background-color: var(--input--btn);
    padding: 9px 10px;
    border: none;
    border-radius: 3px;
    width: 48%;
    color: var(--color--primary);
    font-size: 1rem;
    outline: none;
}
/* Filters panel */
.filter{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.filter label{
    margin-bottom: 11px;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.range{
    width: 100%;
    height: 6px;
    background-color: var(--bg--ranger);
    border-radius: 50px;
    appearance: none;
}
/* Button reset */
button[type="reset"]{
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    background-color: var(--input--btn);
    color: var(--color--primary);
    font-size: 1.1rem;
    margin-top: 15px;
}
/* _________ ASIDE - Text panel _________ */
/* Checkbox */
input[type="checkbox"]{
    margin-right: 5px;
    margin-top: 11px;
}
/* Font */
.font__select{
    background-color: var(--input--btn);
    padding: 9px 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
    color: var(--font--color--primary);
    font-size: 1rem;
    margin-bottom: 10px;
    outline: none;
}
.font__size{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.size{
    background-color: var(--input--btn);
    color: var(--color--primary);
    padding: 9px 10px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    width: 50%;
    outline: none;
}
.btn__size{
    background-color: var(--input--btn);
    color: var(--color--primary);
    padding: 9px 14px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    width: 15%;
}
/* Font - color / Bg - color */
.container__font{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container__font button{
    background-color: var(--input--btn);
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    color: var(--color--primary);
}
#color__text{
    background-color: black;
}
#text__color input::-webkit-color-swatch{
    display: none;
}
#text__color input::-moz-color-swatch{
    display: none;
}
#font__color input::-webkit-color-swatch{
    display: none;
}
#font__color input::-moz-color-swatch{
    display: none;
}
/* Outline */
.panel__outline button{
    background-color: var(--input--btn);
    color: var(--color--primary);
    padding: 9px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
}
/* _________ Responsive 420px _____________*/
@media (min-width: 420px){
    /* _________ MAIN ________ */
    .container{
        padding: 10 22px;
    }
    /* Container memes editor */
    .container__memes__edit{
        height: 385px;
        max-width: 385px;
    }
    /* Texts to edit */
    .text__editor{
        padding: 16px 50px;
        font-size: 1.5rem;
    }
}
/* _________ Responsive 520px _____________*/
@media (min-width: 520px){
    /* _________ MAIN ________ */
    .container{
        padding: 0 22px;
    }
    /* Container memes editor */
    .container__memes__edit{
        height: 485px;
        max-width: 485px;
    }
    /* Texts to edit */
    .text__editor{
        font-size: 1.8rem;
    }
}
/* _________ Responsive 620px _____________*/
@media (min-width: 620px){
    /* Container memes editor */
    .container__memes__edit{
        height: 585px;
        max-width: 600px;
    }
}
/* _________ Responsive 720px _____________*/
@media (min-width: 720px) {
    /* _________ HEADER _________ */
    h1{
        font-size: 2.2rem;
    }
    /* Top text - Bottom text */
    .text__editor{
        font-size: 2.7rem;
    }
}
/* _________ Responsive 990px _____________*/
@media (min-width: 990px) {
    /* _________ HEADER _________ */
    h1{
        font-size: 2.6rem;
    }
}
/* _________ Responsive 1200px _____________*/
@media (min-width: 1200px){
    /* Unified classes - DESKTOP */
    .btn__transition:hover{
        cursor: pointer;
        transition: 0.5s;
    }
    .hover:hover{
    background-color: var(--hover--primary);
    }
    .btn__panel--close{
        display: none;
    }
    /* _________ HEADER _________ */
    h1{
        font-size: 3rem;
    }
    /* _________ MAIN _________ */
    .container__memes__edit{
        width: 80%;
    }
    /* Edit - Top text - Bottom text */
    .transition{
        transition: 0.5s;
    }
    /* Button download */
    #button__download:hover{
        background-color: var(--btn--download--hover);
    }
    /* _________ ASIDE ________ */
    .image__panel, .text__panel{
        width: 300px;
    }
    .image__panel{
        display: block;
    }
}